.navbar {
    height: 70px;
    background: #fff;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar p{
    font-size: 1.2em;
    background: #E0E7FF;
    color: #6D28D9;
    padding: 3px 6px;
    border-radius: 50%;
    margin-left: 10px;
}
